@font-face {
  font-family: "iconfont"; /* Project id 4924414 */
  src: url('iconfont.woff2?t=1747587398722') format('woff2'),
       url('iconfont.woff?t=1747587398722') format('woff'),
       url('iconfont.ttf?t=1747587398722') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenjianjia:before {
  content: "\e671";
}

.icon-yejianmoshi:before {
  content: "\e608";
}

.icon-sunbaitian-taiyang:before {
  content: "\e858";
}

.icon-wode:before {
  content: "\e704";
}

.icon-icon-:before {
  content: "\e61f";
}

.icon-sousuo:before {
  content: "\e601";
}

.icon-shoucang-weishoucang:before {
  content: "\e622";
}

.icon-huishouzhan:before {
  content: "\e643";
}

.icon-shangchuan:before {
  content: "\e661";
}

.icon-shezhi:before {
  content: "\e7b1";
}

.icon-icon_cangku:before {
  content: "\e641";
}

